.custom-404-btn {
    background-color: #ff6600 !important; /* Deep Saffron */
    background-image: linear-gradient(315deg, #ff9933 0%, #ff6600 50%, #cc3300 100%) !important;
    border: none !important;
    color: white !important;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-404-btn:hover {
    background-image: linear-gradient(315deg, #cc3300 0%, #ff6600 50%, #ff9933 100%) !important;
    transform: scale(1.05);
  }
  