.recievedCard {
    height: 35px !important;
    /* background: aliceblue; */
    background: #ff4d4d
}


button.btn.btn-link {
    text-decoration: none;
    color: black !important;
 
    padding: 0px;
    /* width: 116px; */
    width: 6.3rem !important;
}


button.btn.btn-link:hover,
button.btn.btn-link:focus {
    color: black !important;
    text-decoration: none !important;
    
}

.jilsCard.card-body {
    margin-top: -25px;
}

.jilsCard-all-india.card-body {
    margin-top: -35px !important;
}

@media(min-width: 300px) {
   .card {
      width: 90%;
   }
}



