.custom-table th.fixed-header {
  white-space: nowrap; 
  text-align: center; 
  background-color: #f8f9fa;
}

.custom-table td {
  white-space: normal; 
  word-break: break-word;
}
.custom-table th,
.custom-table td {
  padding: 8px 12px;
}
.custom-table tbody tr td:first-child {
  width: 200px; 
}

button.btn.btn-link {
  text-decoration: none !important;
}

.custom-table .kshettra-row:hover{
  color: #f8f9fa;
}

.kshettra-row {
  cursor: pointer;
  background-color: blue;

}
.custom-table tbody tr td{
  background-color: unset !important;
}


.table-main-heading{
  font-size: 24px;
  background: rgb(31,0,36);
background: linear-gradient(14deg, rgba(31,0,36,1) 0%, rgba(229,231,200,0.9864320728291317) 15%, rgba(214,231,217,1) 100%);
}

.prant-row{
  background-color: green;
}

.vibhag-row{
  background-color: blue;
}

