
.edit-icon {
  fill: #007bff; 
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}





.custom-input:focus {
  background-color: white !important; /* Force white background */
  box-shadow: none !important; /* Remove blue glow */
  outline: none !important; /* Remove default focus border */
  border: 1px solid #ced4da !important; /* Keep original border */
}
