/* .profile-card {
  transition: none !important;  
  transform: none !important;   
  box-shadow: none !important;  
  z-index: auto !important;      
}

.profile-card:hover,
.profile-card:focus,
.profile-card:active {
 
}

.card:hover {
  transform: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 600px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-card {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .profile-card {
    max-width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .profile-card {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile-card {
    max-width: 600px;
  }
} */

.edit-icon {
  fill: #007bff; 
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}

/* .edit-icon:hover {
  fill: #0056b3; 
} */





.custom-input:focus {
  background-color: white !important; /* Force white background */
  box-shadow: none !important; /* Remove blue glow */
  outline: none !important; /* Remove default focus border */
  border: 1px solid #ced4da !important; /* Keep original border */
}
