.profile-card {
  transition: none !important;  /* Disable any hover effect */
  transform: none !important;   /* Prevent movement */
  box-shadow: none !important;  /* Remove any shadow effect */
  z-index: auto !important;      /* Disable z-index */
}

.profile-card:hover,
.profile-card:focus,
.profile-card:active {
 
}

.card:hover {
  transform: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 600px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-card {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .profile-card {
    max-width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .profile-card {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .profile-card {
    max-width: 600px;
  }
}
